<p id="notice"><%= notice %></p>

<h1>Notification Deliverers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_deliverers.each do |notification_deliverer| %>
      <tr>
        <td><%= link_to 'Show', notification_deliverer %></td>
        <td><%= link_to 'Edit', edit_notification_deliverer_path(notification_deliverer) %></td>
        <td><%= link_to 'Destroy', notification_deliverer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification Deliverer', new_notification_deliverer_path %>
